div {
    text-align: center;
}

ul {
    padding: 0;
    list-style-type: none;
}

.ing_input {
    border: white;
    border-radius: 4px;
    width: 100px;
    height: 50px;
}

.ing_array {
    display: none;
}

.ing_button {
    background-color: white;
    border-top-left-radius: 28px;
    border-top-right-radius: 28px;
    border-bottom-right-radius: 28px;
    border-bottom-left-radius: 28px;
    text-indent: 0;
    border: none;
    display:inline-block;
    color: black;
    height: 50px;
    line-height: 50px;
    width: 70px;
    text-decoration: none;
    text-align: center;
    margin-left: 10px;
}

.display-ingredients {
    padding: 0;
    display: inline-block;
    width: 300px;
}

.each-ingredient {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    border-bottom: 1px solid green;
}

.features {
    float: right;
    padding-right: 20px;
}

.delButton {
    background-color: white;
    border-radius: 20px;
    padding: 5px 10px;
}

.rec_button {
    background-color: white;
    border-top-left-radius: 28px;
    border-top-right-radius: 28px;
    border-bottom-right-radius: 28px;
    border-bottom-left-radius: 28px;
    text-indent: 0;
    border: none;
    display:inline-block;
    color: black;
    height: 50px;
    line-height: 50px;
    width: 250px;
    text-decoration: none;
    text-align: center;
    font-size: 15px;
    font-weight: bold;

}
.rec_button:hover {
    background-color: grey;
}

