div {
    text-align: center;
}

ul {
    padding: 0;
    list-style-type: none;
}

.display-ingredients {
    display: inline-block;
    border: 2px solid black;
    width: 400px;
    height: 400px;
}