body {
	background: #BAEDBF
}

.flex-container{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.recipe {
	flex: auto;
	margin: 0 auto;
	text-align: center; 
	width: 200px;
	border-radius: 25px;
	padding: 20px;
	background: #7CE099;
	line-height:5px;
}

img{
	height:50px;
	width: 50px;
}

#instructions{
	
}