body{
	background: #BAEDBF;
}

.Recipes {
	text-align: center;
	display: flex;
	flex-direction: column;
	
}

.box {
	flex: auto;
	margin: 0 auto;
	text-align: center; 
	width: 200px;
	border-radius: 25px;
	padding: 20px;
	background: #7CE099;
	line-height:5px;
}

.button {
	background: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fcommons.wikimedia.org%2Fwiki%2FFile%3AEmpty_Star.svg&psig=AOvVaw2NDQ8wBqeFajohBwOE_FyO&ust=1585291671762000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCIDBwOnFt-gCFQAAAAAdAAAAABAD)
}