
.back-button {
    float: left;
}

.ingr-button {
	float: right;
	margin-top: -21px;
	background-color: white;
	border-top-left-radius: 28px;
	border-top-right-radius: 28px;
	border-bottom-right-radius: 28px;
	border-bottom-left-radius: 28px;
	text-indent: 0;
	border: none;
	display:inline-block;
	color: black;
	height: 50px;
	line-height: 50px;
	width: 140px;
	text-decoration: none;
	text-align: center;
}

.flex-container{
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.recipe {
	flex: auto;
	margin: 0 auto;
	margin-bottom: 30px;
	text-align: center; 
	width: 200px;
	border-radius: 25px;
	padding: 20px;
	background: #7CE099;
	line-height:5px;
	font-size: 18px;
}

img{
	height:50px;
	width: 50px;
}

#instructions{
	
}