body{
	background: #FF9933;
}

.Recipes {
	text-align: center;
	display: flex;
	flex-direction: column;
	
}

.box {
	flex: auto;
	margin: 0 auto;
	text-align: center; 
	width: 200px;
	border: 2px solid grey;
	padding: 20px;
	background: rgb(184,184,184);
	line-height:5px;
}